body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: darkslategray;
  font-weight: 600;
}

